
/*my code*/
* {
  text-decoration: none;
}
/*header*/
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  padding: 0%;
  text-align: center;
}

/*new*/

* {box-sizing: border-box;}

/*body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}*/

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header img.logo {
  width: 10%;
  height: 10%;
  padding-top: -10%;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #708090;
  color: white;
}

.slogan {
  float: right;
  padding-right: 500px;
  line-height: 33px;
  font-family: sans-serif;
  font-style: italic;
}

.header-right {
  float: right;
}


.write {
  padding-left:20px
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*index mid section*/
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.vertical-center{
position: absolute;
bottom: 60px; 
vertical-align: middle;
}

.vertical-center h1{
  font-family: Comoront Garamond;
  padding-left: 80px;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  text-align: center;
}

.vertical-center h2{
  font-family: Catamaran;
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding-left: 30px; 
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

/*Search*/

.container{
    padding-top: -10px;
    padding-right: 500px;
    width: 100%;
    /* margin: auto; */
    overflow: hidden;

}

#search form{
    float:right;
    margin-top:15px;
}

#search input[type="text"]{
    padding: 4px;
    height:25px;
    width: 250px;
}

.button_1{
    height: 35px;
    background: #708090;
    border: 0;
    padding-left: 20px;
    padding-right:20px;
    color:white;
}

/*3rd section*/

#zoom {
  background-color: #f1f1f1;
  width: 100%;
  box-sizing: border-box;
  margin-top: -10px;
  margin-left: -100px;
  padding-left: 100px;
  
  height: 240px;

}

.index-links{
  margin-top: 10px;
  padding-left: 100px;
  margin-right: -100px;
}

.index-links div {
  float: left;
  margin-top: 10px;
  margin: 50px, 16px 0;
  margin-left: 15px;
  padding-right: -10px;
  width: calc(50% - 50px);
  height: 200px; 

}

#izero{
  background-image: url("img/view.jpg");
}

#ione{
  background-image: url("img/solo.jpg");
}

#itwo{
  background-image: url("img/couple.jpeg")
}

#ithree{
  background-image: url("img/group.jpeg")
}

.index-links div h3 {
  font-family: Catamaran;
  font-size: 28px;
  font-weight: 8000px;
  line-height: 100px;
  font-style: italic;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.index-boxlink-square {
    width: calc(25% - 60px) !important;
}

/*Table section*/

.table-left {
    margin-left: 30px;
}

table, td, th {    
    border: 1px solid #ddd; 
    text-align: left;
}

table {
    float: left;
    border-collapse: collapse;
    width: 40%;
}

th, td {
    padding: 15px;
}

.review{
    float: left;
    padding-left: 90px;
    padding-top: 80px;
   text-decoration: none;
}

.review a { text-decoration: none; color:black; }

.plan{
    padding-right: 90px;
    padding-bottom: 20px;
    text-decoration: none;
}
.plan a{
  text-decoration: none; color:black;
}

.review p {
  text-decoration-color: black;
}


#tab-rev review p{
    float:center;
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

#tab-rev a{
    float: right;
    text-align: center;
    margin-top: 100px;
    font-size:30px;
    margin-bottom: 10px;
    margin-right: 10px;
}


/*footer*/
.footer-distributed{
  bottom: 0;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 25px 50px;
  margin-top: 700px;
}

.footer-left img.logo {
  width: 10%;
  height: 10%;
  padding-top: -10%;
}

.footer-distributed .footer-left p{
  text-align: center;
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

.text-read p {
  font-style: italic;
}
.text-read h2 {
  font-style: italic;
}